/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Initial */
:root {
  --secondary-bg-color: hsl(0, 0%, 100%);
  --main-bg-color: hsl(212, 45%, 89%);
  --secondary-text-color: hsl(220, 15%, 55%);
  --main-text-color: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
}

p {
  font-size: 15px;
  text-align: center;
}

h3 {
  font-size: 20px;
  letter-spacing: 0.5px;
}

.container {
  min-height: 100vh;
  width: 100%;
  background-color: var(--main-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px;
  background-color: var(--secondary-bg-color);
  border-radius: 16px;
}

.img-container img {
  width: 270px;
  height: 270px;
  border-radius: 10px;
}

.title {
  text-align: center;
  font-weight: 700;
  color: var(--main-text-color);
  padding: 0 12px;
}

.content {
  font-weight: 400;
  color: var(--secondary-text-color);
  padding: 0 14px 20px;
}

.attribution {
  padding: 20px;
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}